# --------------------------------------------------
# Emacs backup & autosave
# --------------------------------------------------
*~
\#*#
.#*

# --------------------------------------------------
# Emacs byte-compiled objects
# --------------------------------------------------
*.elc

# --------------------------------------------------
# Emacs package directories
# --------------------------------------------------
elpa/
straight/
transient/
auto-save-list/
url/

# --------------------------------------------------
# Org-related caches
# --------------------------------------------------
org-persist/
org-roam.db

# --------------------------------------------------
# macOS metadata
# --------------------------------------------------
.DS_Store